@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'poppins', arial;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
    background-color: #030313;
}

div#dados {
    margin: auto;
    padding: 50px;
    height: 500px;
}

input#peso {
    width: 400px;
}

input#altura {
    width: 400px;
}

div#padding {
    padding-bottom: 20px;
}

body h1 {
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
}

input {
    padding: 8px;
    border: 1px solid black;
}

button {
    margin-top: 25px;
    padding: 12px;
    border: none;
    cursor: pointer;
    background: red;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 30px;
}

div#button {
    text-align: center;
}

button:hover {
    opacity: 0.8;
    transition: 0.2s;
}


@media (max-width: 1024px) {
    body {
        overflow: hidden;
        height: 90vh;
    }

    div#dados {
        padding: 40px;
    }

    button {
        margin-bottom: 50px;
    }

    input#peso {
        width: 300px;
    }
    
    input#altura {
        width: 300px;
    }
    
    
}